/* dark theme */
.wrap { padding:5px 10px; }
.dark { color:#dedede; }
.gray { color:#aaa; }
.light { color:#9ac495; }
body { background:#282b2f; color:#dedede; }
a { color:#f4c430; } a:active, a:focus { color:#dedede; }
b,i,em { color: #aaa; }
b em { color: #f4c430; }
h2 { color:#fff; }
div.about { background:rgb(65,68,73); border:1px solid #606060; }
input[type=text], select { background:rgb(114,112,113); color:#fff; }
#root { background:rgb(43,45,49); }
#header, .wrap { background:rgb(54,57,62); }
#header svg g { fill:#dedede; stroke:#dedede; }
#header svg g.active { fill:#f4c430; stroke:#f4c430; }
#header .yin { fill:#777; stroke:#777; }
#page_footer button { background:#fff; }
/**/
.about img { max-width:50px; }
.av img { width:100%; }
.book img { max-width:150px; margin:0 10px 0 0; }
.book .descr { line-height:1.3em; }
