/* dark theme */
.wrap { background:rgb(68,71,76); }
.dark { color:#dedede; }
.gray { color:#aaa; }
.light { color:#9ac495; }
body { background:rgb(50,53,57); color:#dedede; }
a, a:active, a:focus { color:#f4c430; }
b,i,em { color: #aaa; }
b em { color: #f4c430; }
h2 { color:#fff; }
div.about { background:rgb(75,78,83); border:1px solid #606060; }
input[type=text], select { background:rgb(114,112,113); color:#fff; }
#root { background:rgb(52,55,60); }
#header { background:rgb(52,55,60); }
#header svg g { fill:#dedede; stroke:#dedede; }
#header svg g.active { fill:#f4c430; stroke:#f4c430; }
#header .yin { fill:#777; stroke:#777; }
#page_footer button { background:#fff; }
/**/
.about img { max-width:50px; }
.av img { width:100%; }
.book img { max-width:150px; margin:-10px 10px 5px -15px; }
.book .descr { line-height:1.3em; }
