/* dark theme */
.dark { color:#dedede; }
.gray { color:#aaa; }
.light { color:#9ac495; }
body { background:#222; color:#dedede; }
a { color:#f4c430; } a:active, a:focus { color:#dedede; }
b,i,em { color: #aaa; }
b em { color: #f4c430; }
h2 { color:#fff; }
div.about { padding:10px 15px; border:1px solid #606060; }
input[type=text], select { background:#656565; color:#fff; }
#root { background:#212121; }
#header, .wrap { background:#323232; }
#header svg g { fill:#dedede; stroke:#dedede; }
#header svg g.active { fill:#f4c430; stroke:#f4c430; }
#header .yin { fill:#777; stroke:#777; }
#page_footer button { background:#fff; }
/**/
.about img { max-width:50px !important; }
.av img { width:100%; }
.book { width:100%; }
.book img { max-width:150px; margin:0 10px 0 0; }
.book .descr { line-height:1.3em; }
