/* light theme */
.hold { background:#fff; }
.msgtext { padding:0; }
.dark { color:#333; }
.gray { color:#888; }
body { background:#fafafa; color:#333; }
a, a:active, a:focus { color:#3c677b; }
b,i,em { color:#777; }
b em { color:#3c677b; }
h3 { color:#fff; }
input[type=text], input[type=password], input[type=number], textarea, select { background:#fff; }
#root { background:#f0f0f0; }
#header { background:#d2e0f0; }
#page_footer button { background:#379e60; color:#fff; }
/*ads*/
.mh_hd { background:#f0f0f0; }
.mh_sm { max-height:100px; }
.mw_1 { max-width:530px; }
.mw_f { max-width:99vw; }