/* dark theme */
.wrap { padding:0 0 2px 0; max-width:820px; }
.dark { color:#dedede; }
.gray { color:#aaa; }
.light { color:#9ac495; }
body { background:#222; color:#dedede; }
a, a:active, a:focus { color:#f4c430; }
b,i,em { color:#aaa; }
b em { color:#f4c430; }
h2 { color:#9ac495; }
input[type=text], select { background:#656565; color:#fff; }
#root { background:#212121; }
#header, .wrap { background:#323232; }
#header svg g { fill:#dedede; stroke:#dedede; }
#header svg g.active { fill:#f4c430; stroke:#f4c430; }
#header .yin { fill:#777; stroke:#777; }
#page_footer button { background:#fff; }
/* readme */
/* .readme { font-size:93.75%; } */
/*img*/
@media (min-width:800px){ .foto { max-height:65vh; } }
@media (max-width:800px){ .foto { max-height:50vh; } }
/**/
.mh_sm { max-height:100px; }
.mw_1 { max-width:530px; }
.mw_f { max-width:99vw; }