/* light theme */
.wrap { background:#fff; padding:0 0 2px 0; max-width:820px; }
.dark { color:#333; }
.gray { color:#777; }
body { background:#fafafa; color:#333; }
a, a:active, a:focus { color:#3c677b; }
b,i,em { color:#777; }
b em { color:#3c677b; }
h2 { color:#fff; }
input[type=text], select { background:#fff; }
#root { background:#f0f0f0; }
#header { background:#d2e0f0; }
#header svg g { fill:#777; stroke:#777; }
#header svg g.active { fill:#3c677b; stroke:#3c677b; }
#header .yin { fill:#fff; stroke:#fff; }
#page_footer button { background:#91bba1; color:#fff; }
/*img*/
.foto { max-height:60vh; }
/*ads*/
.mh_sm { max-height:100px; }
.mw_1 { max-width:530px; }
.mw_f { max-width:99vw; }