/* dark theme */
.wrap { background-color:#404040; border:1px solid #454545; padding: 5px 0; }
.msgfooter { padding: 0 10px; }
.msgtext { padding:5px 0; }
.dark { color:#eee; }
.counter { color:#59a750; }
body { background-color:#262626; color:#eee; }
a, a:active, a:focus { color:#ffbc00; }
b,i,em { color: #aaa; }
b em, strong em { color: #ffbc00; }
input[type=text], input[type=password], input[type=number], textarea, select { 
  background-color:#404040; color:#fff; }
#header { background-color:#222; border:0; }
#albumlist { color: #ffbc00; }
