/* dark theme */
/*.wrap { background-color:#404040; border:1px solid #333; padding: 5px 0; }
.msgfooter { padding: 0 10px; }
.msgtext { padding:5px 0; }
.dark { color:#eee; }
.counter { color:#59a750; }
body { background-color:#262626; color:#eee; }
a, a:active, a:focus { color:#ffbc00; }
b,i,em { color: #aaa; }
b em, strong em { color: #ffbc00; }
input[type=text], input[type=password], input[type=number], textarea, select { 
  background-color:#404040; color:#fff; }
#header { background-color:transparent; border:0px solid #404040; border-top:0; }
#albumlist { color: #ffbc00; }*/
/* light theme */
.wrap { background-color:#fff; border:1px solid #ddd; }
.dark { color:#333; }
.gray { color:#888; }
.counter { color:#3fa969; }
a, a:active, a:focus { color:#31708f; }
b,i,em { color: #777; }
b em { color: #31708f; }
h3 { color:#fff; }
input[type=text], input[type=password], input[type=number], textarea, select { 
  background-color:#fff; color:#333; }
#root { background:#eee; color:#333; }
#page_footer button { background:#3fa969; color:#fff; }
/**/
img.foto { max-width:100%; max-height:400px; border-radius:4px; }