/* main.css */
.collapse { border-collapse: collapse; }
.bl { display:block; }
.inl { display:inline; }
.inlbl { display:inline-block; }
.fixed { position:fixed; }
.grid { display:grid; }
.table { display:table; border-collapse:collapse; width:100%; }
.tcell { display:table-cell; height:64px; padding:3px 0px 3px 12px; }
.trow { display:table-row; }
.main { margin:0px auto 0px auto; max-width:830px; }
.msgtext { min-height:1em; padding:5px 5px; }
.msgfooter { padding:3px 1px 1px 0; text-align:right; font-size:small; }
.msgtext dt { padding:5px 0; }
.hspaced { padding:0 4px; }
.hspace { padding:0 12px; }
.hspace1 { padding:0 32px; }
.hspace2 { padding:0 48px; }
.hmarg { margin:0 12px; }
.bmarg:not(:empty) { margin: 0px auto 5px auto; }
.marg { margin: 0 auto; }
.nomarg { margin:0 0 0 0; }
.nopad { padding:0 0 0 0; }
.nowrap { white-space:nowrap; }
.rounded { border-radius:50%; }
.rounded2 { border-radius:2%; }
.rounded4 { border-radius:4%; }
.lfloat { float:left; text-align:left; }
.rfloat { float:right; text-align:right; }
.tcenter { text-align:center; }
.tleft { text-align:left; }
.tright { text-align:right; }
.vtop { vertical-align:top; }
.vmid { vertical-align:middle; }
.scroll { overflow:auto; }
.noscroll { overflow:hidden; }
.smaller { font-size:smaller; }
.small { font-size:small; }
.large { font-size:large; }
.bigger { font-size:150%; }
.bigger0 { font-size:110%; }
.bigger1 { font-size:130%; }
.bigger2 { font-size:150%; }
.loader { border:1px solid #ddd; }
.tooltip { cursor:pointer; }
.wrap { border-radius:3px; padding:5px 10px 4px 10px; margin:0 auto 5px auto; max-width:800px; }
#root { min-height:100%; }
#header a { display:inline-block; }
@media (min-width:800px){ #page_content { font-size:93.75%; min-height:70vh; } }
@media (max-width:800px){ #page_content { min-height:55vh; } }
#page_footer:not(:empty) { min-height:calc(10vh - 10px); padding:10px 0 0 0; }
#page_footer button { height:40px; width:40px; border:0; }
#footer { font-size:small; padding:15px 0; }
html,body { margin:0; width:100%; height:100%; font-family:arial; font-weight:400; font-size:16px; }
h1 { margin:0; font-weight:normal; font-size:inherit; }
h2 { font-weight:normal; font-size:1rem; margin-top:5px; }
a, a:active, a:focus { outline:none; text-decoration-thickness:0.4px; }
a.nodecor, #header a { text-decoration:none; -webkit-tap-highlight-color:transparent; }
a.nodecor img, #header a img { border:0px none; padding:0px; }
input[type=text], input[type=search], input[type=number], select { font-family:arial; border-radius:4px; border:1px solid #cfcfcf; padding:5px; font-size:93.75%; }
input[type=text], input[type=search], input[type=number] { text-align:center; width:60px; }
input[type=submit] { padding:0 20px; font-size:100%; height:32px;  }
input[type=file] { font-size:100%; height:32px; }
input[type=button] { font-family:inherit; font-size:inherit; padding:5px; }
img, iframe { max-width:100%; }
hr { border:1px dashed #777; }
pre { overflow:auto; max-width:82.5vw; font-size:smaller; }
p { margin:10px auto; }
/* reklama */
@media (max-width:1350px){ .mh_hd:not(:empty) { max-height:130px; }}
@media (min-width:1350px){ .mh_hd:not(:empty) { max-width:250px; position:fixed; right:calc((100% - 830px) / 2 - 280px); top:60px; max-height:600px; }}
.mh_bar { max-height:95vh; position:sticky; top:0; }
.mh_sm { max-height:140px; }
.mh_1 { max-height:250px; }
.mh_2 { max-height:195px; }
.mh { max-height:300px; }
.mhw { min-height:350px; max-height:350px; }
.mw { max-width:750px; }
.mw_1 { max-width:165px; }
.mw_2 { max-width:820px; }
.mw_3 { max-width:260px; }
.mw_b { max-width:800px; }
@media (min-width:800px){ .mw_f { max-width:800px; } }
@media (max-width:800px){ .mw_f { max-width:calc(100vw - 20px); } }
