/* classes */
.wrap { background-color:#fff; padding:5px 10px 2px 10px; margin:0 0px 10px 0px;
  border-radius:4px; border:1px solid #dfdfdf; }
.rounded { border-radius:50%; }
.rounded7 { border-radius:7% 4% 7% 4%; }
.gray { color:#aaa; }
.counter { color:#ccc; }
.dark { color:#900020; }
.mtext { font-size:larger; }
.msgtext { font-size:larger; min-height:1em; padding:5px 5px; margin:0px; }
.msgfooter { padding:0 1px 1px 0; text-align:right; font-size:small; }
.msgtext dt { padding:5px 0; }
.collapse { border-collapse: collapse; }
.inl { display:inline; }
.inlbl { display:inline-block; }
.grid { display:grid; }
.hmarg { margin:0 12px; }
.bmarg { margin: 0 auto 10px auto; }
.marg { margin: 0 auto; }
.nomarg { margin:0 0 0 0; }
.nopad { padding:0 0 0 0; }
.nowrap { white-space: nowrap; }
.hspaced { padding:0 4px; }
.hspace { padding:0 12px; }
.hspace1 { padding:0 24px; }
.hspace2 { padding:0 48px; }
.lfloat { float:left; text-align:left; }
.rfloat { float:right; text-align:right; }
.cfloat { text-align:center; }
.vtop { vertical-align:top; }
.scroll { display:block; overflow:auto; white-space:nowrap; }
.counter, .smaller { font-size:smaller; }
.bigger { font-size:150%; }
.bigger2 { font-size:200%; }
.main { margin:0px auto 0px auto; max-width:800px; }
.loader { border:1px solid #ddd; }
#root { min-height:100%; }
#header { text-align:center; border-radius:2px; background-color:#d2e0f0; }
#header img { width:100px; height:40px; color:transparent; }
#page_content { min-height:300px; }
#page_footer button { height:50px; width:50px; background:#eee; }
#footer { width:100%; }
#livecounter { text-align: right; }
#yacounter { text-align: left; }
#credits span { text-align: center; font-size: small; }
/* body */
body { margin:0; font-family:tahoma,arial; font-weight:400; font-size:16px; 
  background-color:#f4f4f4; color:#333; }
a, a:active, a:focus { color:#5645ad; outline:none; }
a.nodecor, #header a, .about a { text-decoration:none; }
a.nodecor img, #header a img { border:0px none; padding:0px; }
h2 { font-size:150%; font-family:tahoma,arial; font-weight:normal; padding:0 0 0 20px; }
h3 { font-weight:normal; margin-top:5px; color:#787878; }
html,body { margin:0; padding:0; width:100%; height:100%; }
input[type=text], input[type=password], input[type=number], input[type=search], textarea, select { 
  border-radius:4px; border:1px solid #afafaf; padding:5px; font-size:1rem; background:transparent; }
input[type=text], input[type=password], input[type=number] { text-align:center; }
input[type=submit] { padding:0 20px; font-size:100%; height:32px;  }
input[type=file] { font-size:100%; height:32px; }
input[type=button] { font-family:inherit; font-size:inherit; padding:5px; }
input[class=find-btn] { padding:4px; margin:4px; }
hr { border:1px dashed #777; }
pre { font-size:1rem; }
/* reklama */
.mh120 { max-height:120px; }
.mh140 { max-height:140px; }
.mh200 { max-height:200px; }
.mh { max-height:300px; }
.mh_2 { max-height:400px; }
.mw600 { max-width:600px; }
.mw { max-width:800px; }
.mw_1 { max-width:650px; }
.mw_2 { max-width:350px; }
.mw_3 { max-width:300px; }