/* dark theme */
.wrap { background:rgb(68,71,76); }
.dark { color:#eee; }
.gray { color:#aaa; }
.light { color:#9ac495; }
.counter { color:#59a750; }
body,text { background:rgb(52,55,60); color:#eee; } 
a, a:active, a:focus { color:#f4c430; }
b,i,em,h4,h5 { color:#aaa; }
b em, strong em { color:#f4c430; }
h2 { font-size:1rem; color:#9ac495; }
div.about { background:rgb(75,78,83); border:1px solid #606060; }
pre { background:#eee; color:#222; border-radius:2px; }
input[type=text], select { background:rgb(114,112,113); color:#fff; }
li::marker { color:green; }
#root { background:rgb(55,58,63); }
#header, #page_header, #ya_rtb_hd { background:rgb(55,58,63); width:100%; }
#page_footer button { background:#fff; }
/**/
h2 a {text-decoration:none; outline:none;}
img { max-width:100%; border-radius:2px; }
/* football tables */
.g { border-collapse:collapse; text-align:center; display:block; overflow:auto;}
.g img {vertical-align:middle; max-width:none;} 
.g td {width:60px; background:rgb(75,78,83); border:1px solid #606060; white-space:nowrap; padding:2px;}
.g .col {width:240px; text-align:left; padding-left:10px;}
.p {border-collapse:collapse; width:100%; display:block; overflow:auto;}
.p img {vertical-align:middle; max-width:none;}
.p .col {padding-left:5px; padding-right:5px; white-space:nowrap;}
.p th {font-weight:normal; font-style:italic; color:#aaa;}
.bt {border-top:1px dotted #eee;}
.br {border-right:1px dotted #eee;}
.bb {border-bottom:1px dotted #eee;}
.mb {padding-bottom:10px;}
/* youtube playlist */
.yb .preview { width:240px; border-radius:2%; margin: 0 10px 5px 0; }
.yb iframe.embed { border:0; width:100%; height:30vw; margin:0 10px 5px 0; }
@media all and (max-width:800px){ .yb .preview { width:100%; height:100%; } .yb iframe.embed { height:60vw; } }
@media all and (min-width:800px){ .yb div.text { max-width:400px; vertical-align:middle; } }
.yb .smaller1 { font-size:93.75%; }
.yb .smaller2 { font-size:smaller; }
.yb .smaller3 { font-size:x-small; }
/**/
.mh_hd { background:rgb(55,58,61); }