/* light theme */
.wrap { background-color:#fff; border:1px solid #ddd; }
.dark { color:#333; }
.gray { color:#888; }
.counter { color:#3fa969; }
body { background-color:#f4f4f4; color:#333; }
a, a:active, a:focus { color:#31708f; }
b,i,em { color: #777; }
b em { color: #31708f; }
h3 { color:#fff; }
pre { background-color:#eee; color:#222; border-radius:2px; }
input[type=text], input[type=password], input[type=number], textarea, select { 
  background-color:#fff; }
#root { background:#eee; }
#header { background-color:#d2e0f0; }
#page_footer button { background:#3fa969; color:#fff; }
/* youtube playlist */
.yb .preview { height:180px; border-radius:4%; margin: 0 10px 5px 0; }
.yb .embed { border:0; border-radius:2%; margin:0 10px 0 0; }
@media all and (min-width:0px) and (max-width:450px) {
  .yb .preview { width:100%; height:100%; }  
  .yb .embed { width:100%; height:50vw; margin:0 0 5px 0; }
}
.yb div { max-width:400px; }
.yb .smaller2 { font-size:smaller; }
.yb .smaller3 { font-size:x-small; }
/**/
.mh_hd { background:#eee; }