/* dark theme */
.dark { color:#dedede; }
.gray { color:#aaa; }
.light { color:#9ac495; }
body,text { background:#222; color:#dedede; } 
a, a:active, a:focus { color:#f4c430; }
b,i,em,h4,h5 { color:#aaa; }
b em, strong em { color:#f4c430; }
h2 { font-size:1rem; color:#9ac495; }
div.about { border:1px solid #606060; }
pre { background:#dedede; color:#222; border-radius:2px; }
input[type=text], select { background:#656565; color:#fff; }
li::marker { color:green; }
#root { background:#212121; }
#header, .wrap { background:#323232; }
#header svg g { fill:#dedede; stroke:#dedede; }
#header svg g.active { fill:#f4c430; stroke:#f4c430; }
#header .yin { fill:#777; stroke:#777; }
#page_footer button { background:#fff; }
/**/
.readme ul { list-style-type:none; padding:0; margin:0; overflow:auto; }
.readme ul li { padding:2px 0; }
.readme a { color:#aaa; font-style:italic; }
/* football tables */
.g { border-collapse:collapse; text-align:center; display:block; overflow:auto;}
.g img {vertical-align:middle; max-width:none;} 
.g td {width:60px; background:rgb(75,78,83); border:1px solid #606060; white-space:nowrap; padding:2px;}
.g .col {width:240px; text-align:left; padding-left:10px;}
.p {border-collapse:collapse; width:100%; display:block; overflow:auto;}
.p img {vertical-align:middle; max-width:none;}
.p .logo {background:#fff;}
.p .col {padding-left:5px; padding-right:5px; white-space:nowrap;}
.p th {font-weight:normal; font-style:italic; color:#aaa;}
.bt {border-top:1px dotted #dedede;}
.br {border-right:1px dotted #dedede;}
.bb {border-bottom:1px dotted #dedede;}
.mb {padding-bottom:10px;}
/* feed post */
.yb { margin:5px 0 0 0; line-height:1.4em; }
.yb a { color:#dedede; }
.yb .preview { width:240px; border-radius:2px; margin:0 10px 5px 0; }
.yb iframe.embed { border:0; border-radius:4px; width:100vw; height:30vw; }
@media (max-width:800px){ .yb .preview { width:100%; height:100%; margin:0; } .yb iframe.embed { margin:0; width:100%; height:calc(100vw / 1.8); } }
@media (min-width:800px){ .yb div { vertical-align:top; } .yb .text { max-width:480px; } }
.yb .smaller1 { font-size:100%; }
.yb .smaller2 { font-size:90%; }
.yb .smaller3 { display:none; }
.rss { min-height:150px; }
.rss strong { font-weight:normal; }
.kino_kino img,.kino_teatr img { margin:0px 10px 1px 0px !important; }
@media (max-width:800px){ .rss img { border-radius:2px; display:block; margin:0 0 10px 0; }}
@media (min-width:800px){ .rss img { border-radius:2px; max-width:240px; max-height:150px; float:left; margin:0 10px 0 0; } }
/* rss news ria, eadaily */
.rssn { margin:5px 0; }
.rssn a { color:#dedede; }
.rssn img { height:50px; width:auto; margin:0 5px 0 !important; }
.rssn strong { font-weight:normal; }