/* dark theme */
.wrap { background-color:#404040; border:1px solid #454545; }
.dark { color:#eee; }
.counter { color:#59a750; }
.chords strong em { color:#ffbc00; }
.chord { background-color:#eee; border-radius:2px; }
.chord div { color:#4d3ca0; display:inline-block; }
body { background-color:#222; color:#eee; }
a, a:active, a:focus { color:#ffbc00; }
b,i,em { color: #aaa; }
b em { color: #ffbc00; }
h3 { color:#fff; }
div.about { background-color:#333; border:1px solid #404040; }
input[type=text], input[type=password], input[type=number], textarea, select { 
  background-color:#404040; color:#fff; }
#root { background:#262626; color:#eee; }
#header { background-color:transparent; border:0px solid #404040; border-top:0; }
/**/
img.av { width:50px; height:auto; }