/* dark theme */
.dark { color:#dedede; }
.gray { color:#aaa; }
.light { color:#9ac495; }
.chords strong em { color:#f4c430; }
.chord { background:#fff; border-radius:2px; }
.chord div { color:#4d3ca0; font-size:15px; display:inline-block; }
body { background:#282b2f; color:#dedede; }
a { color:#f4c430; } a:active, a:focus { color:#dedede; }
b,i,em { color: #aaa; }
b em { color: #f4c430; }
h2 { color:#fff; }
div.about { background:rgb(65,68,73); border:1px solid #606060; }
input[type=text], select { background:rgb(114,112,113); color:#fff; }
#root { background:rgb(43,45,49); }
#header, .wrap { background:rgb(56,59,64); }
#header svg g { fill:#dedede; stroke:#dedede; }
#header svg g.active { fill:#f4c430; stroke:#f4c430; }
#header .yin { fill:#777; stroke:#777; }
#page_footer button { background:#fff; }
