/* light theme */
.wrap { background-color:#fff; border:1px solid #ddd; }
.dark { color:#333; }
.gray { color:#888; }
.counter { color:#3fa969; }
.chords strong em { color:#31708f; }
.chord div { color:#4d3ca0; display:inline-block; }
a, a:active, a:focus { color:#31708f; }
b,i,em { color: #777; }
b em { color: #31708f; }
h3 { color:#fff; }
input[type=text], input[type=password], input[type=number], textarea, select { 
  background-color:#fff; color:#333; }
#root { background:#eee; color:#333; }
#header { background-color:#eaeaea; } }
#page_footer button { background:#3fa969; color:#fff; }
/**/
img.av { width:50px; height:auto; }
/*ads*/
.mh160 { max-height:160px; }
.mw600 { max-width:600px; }
