/* light theme */
.wrap { background-color:#fff; border:1px solid #ddd; }
.dark { color:#333; }
.gray { color:#888; }
.counter { color:#3fa969; }
body { background-color:#f5f5f5; color:#333; }
a, a:active, a:focus { color:#31708f; }
b,i,em { color: #777; }
b em { color: #31708f; }
h3 { color:#fff; }
pre { background-color:#eee; color:#222; border-radius:2px; }
input[type=text], input[type=password], input[type=number], textarea, select { 
  background-color:#fff; }
#root { background:#eee; }
#header { background-color:#d2e0f0; }
#page_footer button { background:#3fa969; color:#fff; }
/**/
.footer { font-size:small; font-style:italic; color:#777; }
img { max-width:100%; }
code { white-space: pre-wrap; }
/*ads*/
.mw_1 { max-width:450px; }