/* dark theme */
.wrap { background-color:#404040; border:1px solid #454545; }
.dark { color:#eee; }
.counter { color:#59a750; }
body { background-color:#222; }
a, a:active, a:focus { color:#ffbc00; }
b,i,em { color: #aaa; }
b em, strong em { color: #ffbc00; }
h3 { color:#fff; }
div.about { background-color:#333; border:1px solid #404040; }
pre { background-color:#eee; color:#222; border-radius:2px; font-size:smaller; }
input[type=text], input[type=password], input[type=number], textarea, select { 
  background-color:#404040; color:#fff; }
#root { background-color:#262626; color:#eee; }
#header { background-color:#222; }
#yearlist { color: #ffbc00; }
/**/
img { max-width:100%; }
code { white-space: pre-wrap; }